PORT=:9000
ENV=development
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
CASHFREE_PAN_VERIFY_URL=https://sandbox.cashfree.com/verification/pan/advance
FIREBASE_KEY=./finalotp-cfb22-firebase-adminsdk-fbsvc-d7950a7510.json
