PORT=:9000
ENV=development

# Firebase Configuration
# Option 1: Full JSON string (Set this in Render Env Var)
FIREBASE_CREDENTIALS=
# Option 2: Path to JSON file (Default for local)
FIREBASE_KEY_PATH=ticpin-fa6d2-firebase-adminsdk-fbsvc-53d16fed36.json

# Email SMTP Settings
DINING_EMAIL=dining@ticpin.in
DINING_APP_PASSWORD=
EVENTS_EMAIL=events@ticpin.in
EVENTS_APP_PASSWORD=
PLAY_EMAIL=play@ticpin.in
PLAY_APP_PASSWORD=
ADMIN_EMAIL=admin@ticpin.in
ADMIN_APP_PASSWORD=

# Cashfree API Settings
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
CASHFREE_PAN_VERIFY_URL=https://api.cashfree.com/verification/pan-lite
CASHFREE_PAN_GSTIN_URL=https://api.cashfree.com/verification/pan-gstin

# AI/ML Settings
GROQ_API_KEY=
